<%= form_for @media, :html => { :class => 'form-vertical' }, :validate => true do |f| %>

        <%= f.label :content, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :content, :class => 'form-control' %>
        </div>


        <%= f.label :url, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :url, :class => 'form-control' %>
        </div>


        <%= f.label :media_type, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :media_type, :class => 'form-control' %>
        </div>


  <div class="actions">
  	<%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.preview")),
            startups_path, :class => 'btn btn-success' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            startups_path, :class => 'btn btn-default' %>
  </div>
<% end %>  