<%= image_tag( "https://bytebucket.org/pivoter/pivoter-app/raw/34f76b09eb79c704a4553728534f5a44bbc880ba/app/assets/images/main_logo_pivoter.png?token=df072452725d85c7e5172ec63d6a5570126a330b", :alt=>"Main LOGO", :style => 'width:20%; height:40%') %>
<h3 class="panel-title">Welcome to pivoter</h3>

<p><%= I18n.t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.someone_invited_you") %></p>

<p><%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
