<!-- ======================================= content ======================================= -->
		<!-- slider -->
		<section class="carouselHome pt40 pb40 color2">

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel nekoDataOwl" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="true" data-neko_transitionstyle="backSlide">
							<!--item -->
							<div class="item">
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
							<%= image_tag("theme-pics/home-carousel-1.png", :class =>"img-responsive") %>
										
									</div>

									<div class="col-md-6 pt40">
										<h1>PIVOTER SERVICES</h1>
										<h2>Empower your inspiration, Improve your StartUps</h2>
										<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.</p>

									</div>
									
								</div>
							</div>
							<!--item -->
							<!--item -->
							<div class="item">
								<div class="row">
									

									<div class="col-md-6 col-md-offset-1 pt40">
										<h1>Measure your potencial and Increase it!</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</p>

									</div>
									<div class="col-md-5">
						<%= image_tag("http://www.queness.com/resources/images/jschart/13.jpg", :class =>"img-responsive round-border", :style =>"border-radius: 13px;") %>
									</div>
									
								</div>
							</div>
							<!--item -->
							<!--item -->
							<div class="item">

								<div class="row">

									<div class="col-md-5 col-md-offset-1 ">
			<%= image_tag("theme-pics/home-carousel-3.png", :class =>"img-responsive") %>
										
									</div>

									<div class="col-md-6 pt40">
										<h1>Collavorative Feedbacks from all over the <strong>World</strong>!</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</p>

									</div>
									
								</div>
							</div> 
							<!--item -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- slider -->


		<section id="content">

			<!-- services -->
			<section id="services">
				<div class="container pt40 pb40">

					<div class="row">
						<div class="span12 text-center mb40">
							<h1>Hideo HTML5 & CSS3 premium website template</h1>
							<h2 class="subTitle">Clean, unique, easy to use</h2>
						</div>
					</div>


					<div class="row">

						<div class="col-md-4 col-sm-12">
							<article class="boxIcon">
								<a href="#">
									<div class="imgBorder">
						<%= image_tag("team/team-corporate-1.jpg", :class =>"img-circle img-responsive") %>
										
									</div>
									<h2>Clean design</h2>
									<p>Elegant layouts that help you organize your content in the best way</p>
								</a>
							</article>
						</div>

						<div class="col-md-4 col-sm-12">
							<article class="boxIcon">
								<a href="#">
									<div class="imgBorder">
								<%= image_tag("team/team-corporate-2.jpg", :class =>"img-circle img-responsive") %>
										
									</div>
									<h2>HTML5 &amp; CSS3</h2>
									<p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
								</a>
							</article>
						</div>

						<div class="col-md-4 col-sm-12">
							<article class="boxIcon">
								<a href="#">
									<div class="imgBorder">
										<%= image_tag("team/team-corporate-3.jpg", :class =>"img-circle img-responsive") %>
									</div>
									<h2>Responsive design</h2>
									<p>Compatible with various desktop, tablet, and mobile devices.</p>
								</a>
							</article>
						</div>

					</div>
				</div>
			</section>
			<!-- services -->
			<section class="container">
				<div class="row">
					<div class="col-md-12 mb40">
						<hr class="lineLines">
					</div>
				</div>
			</section>
			<section class="tabsDetails"  data-nekoanim="fadeInUp" data-nekodelay="100" >
				<div class="container">
					
					<div class="row">
						<div class="span12 text-center mb40">
							<h1>Why choose Pivoter?</h1>
						</div>
					</div>


					<!-- tabs -->
					<div class="row">

						<!-- Navigation Buttons -->
						<div class="col-md-3">
							<ul class="nav nav-pills nav-stacked">
								<li class="active">
									<a href="#responsive" data-toggle="tab"><i class="icon-star"></i>Easy customization</a>
								</li>
								<li>
									<a href="#profile" data-toggle="tab"><i class="icon-star"></i>Css framework</a>
								</li>
								<li>
									<a href="#messages" data-toggle="tab"><i class="icon-star"></i>Retina Ready UI</a>
								</li>
							</ul>
						</div>
						<!-- Navigation Buttons -->

						<!-- Content -->
						<div class="col-md-9">
							<div class="tab-content">

								<div class="tab-pane fade in active" id="responsive">
									<div class="row">
										<div class="col-md-6">
						<%= image_tag("theme-pics/home-carousel-b-1.png", :class =>"img-responsive") %>
											
										</div>

										<div class="col-md-6">

											<h2>Easy customization</h2>
											<p>
												Hideo is build with easy customization in mind.
												Out of the box, you get more than 30 page templates, 10 color schemes and multiple home page layouts variants, from corporate to agency portfolio, including a one page version...
											</p>
											<h3>Building blocks</h3>
											<p>
												All layouts are made of sections, that you can easily combine to fit your specific project.
											</p>
											<blockquote>Just copy and paste the block you need to easily build your layout!</blockquote>

										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="profile">
									<div class="row">
										<div class="col-md-6">
				<%= image_tag("theme-pics/home-carousel-b-2.png", :class =>"img-responsive") %>
											
										</div>

										<div class="col-md-6">
											<h2>Bootstrap 3 & Neko CSS Framework</h2>
											<p>
												Based on Twitter Bootstrap 3, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
											</p>
											<a href="http://getbootstrap.com/" target="_blank" class="btn btn-primary">Read more about Bootstrap</a>
											<p class="mt30">
												Along with all the Bootstraps components, we added some extra shortcodes to help you customize your website, easily insert carousel, or call to actions boxes and many more.
											</p>
											<a href="features-neko-shortcodes.html" target="_blank" class="btn btn-primary">Check demo here</a>
										</div>
									</div>
								</div>


								<div class="tab-pane fade" id="messages">
									<div class="row">
										<div class="col-md-6">
				<%= image_tag("http://www.bitcom.us/uploads/6/7/1/7/6717361/4053374_orig.jpg", :class =>"img-responsive") %>
											
										</div>

										<div class="col-md-6">

											<h2>Retina Ready UI and icon fonts</h2>
											<p>
												All graphic elements are build using CSS3, for a sharp look on any device.
											</p>
											<h3>Icon font</h3>
											<p>
												Icon font take a set of icons or pictograms that would normally be implemented as an image or vector file and then convert it into a font for a faster loading time than images, scalability and endless variations using CSS.
											</p>
											<a href="features-icons.html" target="_blank" class="btn btn-primary">Check demo here</a>

										</div>
									</div>
								</div>


							</div>
						</div>

					</div>
				</div>
				<!-- tabs -->
			</section>


			<div class="container">
				<div class="row">
					<div class="col-md-12 mb40 mt40">
						<hr class="lineLines">
					</div>
				</div>
				<div class="row">
					<div class="span12 text-center mb40">
						<h1>Our work</h1>
						<h2 class="subTitle">We do a lot of things, we put them inside squared boxes</h2>
					</div>
				</div>
			</div>


			<!-- works -->

			<section id="homePortfolio" class="imgHover clearfix portfolioMosaic mosaic5 mosaicMoreLink neko-hover-1">

				<article>
					<figure class="minimalBox">
						<%= image_tag("portfolio/vign6.jpg", :class => "img-responsive") %>
						
						<figcaption>
							<div class="pinInfo">
								<h3>Full width image</h3>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture"></i></a>
								<a href="images/portfolio/zoom6.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						<%= image_tag("portfolio/vign8.jpg", :class =>"img-responsive") %>
						

						<figcaption>
							<div class="pinInfo">
								<h3>Youtube Video</h3>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-video.html" title="link"><i class="icon-videocam"></i></a>
								<a href="http://www.youtube.com/watch?v=Cvds3cmJ9hI" class="image-iframe" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						
			<%= image_tag("portfolio/vign2.jpg", :class =>"img-responsive") %>
						<figcaption>
							<div class="pinInfo">
								<h3>Video Vimeo</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-video.html" title="link" ><i class="icon-videocam"></i></a>
								<a href="http://player.vimeo.com/video/62198366" class="image-iframe" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						<%= image_tag("portfolio/vign1.jpg", :class =>"img-responsive") %>
						

						<figcaption>
							<div class="pinInfo">
								<h3>Gallery</h3>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-camera"></i></a>
								<a href="images/portfolio/zoom3.jpg" data-gallery="images/portfolio/zoom1.jpg,images/portfolio/zoom2.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>

					</figure>	
				</article>





				<article>
					<figure class="minimalBox">
					
				<%= image_tag("portfolio/vign5.jpg", :class =>"img-responsive") %>
						<figcaption>
							<div class="pinInfo">
								<h3>Photo</h3>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a>
								<a href="images/portfolio/zoom5.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						<%= image_tag("portfolio/vign7.jpg", :class =>"img-responsive") %>
						<figcaption>
							<div class="pinInfo">
								<h3>Photo</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a>
								<a href="images/portfolio/zoom7.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						<%= image_tag("portfolio/vign3.jpg", :class =>"img-responsive") %>
						

						<figcaption>
							<div class="pinInfo">
								<h3>Photo</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a>
								<a href="images/portfolio/zoom3.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						
						<%= image_tag("portfolio/vign4.jpg", :class =>"img-responsive") %>

						<figcaption>
							<div class="pinInfo">
								<h3>Photo</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a>
								<a href="images/portfolio/zoom4.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure class="minimalBox">
						
						<%= image_tag("portfolio/vign9.jpg", :class =>"img-responsive") %>

				
						<figcaption>
							<div class="pinInfo">
								<h3>Photo</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="iconLinks">
								<a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a>
								<a href="images/portfolio/zoom9.jpg" class="image-link" title="Zoom" ><i class="icon-search"></i></a>
							</div>
						</figcaption>
					</figure>
				</article>



			</section>
			<!-- works -->



			<section class="color1">
				<div class="container">

					<div class="row">
						<div class="col-md-12 text-center pt40 pb40">
							<h1>You can't stop the future</h1>
							<h2 class="subTitle">Clean design, modern and minimal, Hideo is the new way to go</h2>
						</div>
						<div class="col-md-12 text-center">
				<%= image_tag("theme-pics/devices.png", :class =>"img-responsive", :data =>{'nekoanim' =>"fadeInUp"}) %>
							
						</div>
					</div>
				</div>
			</section>


			<!-- parallax -->

			<section id="paralaxSlice2" data-stellar-background-ratio="0.5">
				<div class="maskParent">
					<div class="paralaxMask"></div>
					<div class="paralaxText">

						<h2>
							"Let’s go invent tomorrow instead of worrying about what happened yesterday".
						</h2>

					</div>
				</div>
			</section>
			<!-- parallax -->

			<!-- team -->

			<section id="team" class="pt40 pb40">

				<div class="container">
					<div class="row"> 
						<div class="col-md-12 mb30 text-center">
							<h1>Meet our ranked Startups</h1>
							<p class="subTitle">
								The Duchess took her choice, and was gone in a moment. 'Let's go on with the game,'<br/> the Queen said to Alice; and Alice was too much frightened to say a word, but slowly followed her back to the croquet-ground.
							</p>


						</div>
						<section class="col-md-12">
							<div class="row mb15">

								<div class="col-sm-3">
									<article>
										<div>
					<%= image_tag("team/team-corporate-1.jpg", :class =>"img-responsive") %>
					</div>
										<div class="boxContent text-center">
											<h3>Janice Rand</h3>
											<p>Executive Director</p>
										</div>
									</article>
								</div>

								<div class="col-sm-3">
									<article>
										<div>
				<%= image_tag("team/team-corporate-2.jpg", :class => "img-responsive") %>
				</div>
										<div class="boxContent text-center">
											<h3>Rick Deckard</h3>
											<p>Salesman</p>
										</div>
									</article>
								</div>

								<div class="col-sm-3">
									<article>
										<div>
						<%= image_tag("team/team-corporate-3.jpg", :class => "img-responsive") %>
						</div>
										<div class="boxContent text-center">
											<h3>Christine Chapel</h3>
											<p>Graphic designer</p>
										</div>
									</article>
								</div>

								<div class="col-sm-3">
									<article>
										<div>
				<%= image_tag("team/team-corporate-4.jpg", :class => "img-responsive") %>
											</div>
										<div class="boxContent text-center">
											<h3>Leon Kowalski</h3>
											<p>Programmer</p>
										</div>
									</article>
								</div>
							</div>
						</section>


					</div>
				</div>

			</section>

			<!-- team -->
			<!-- contact -->
			<section class="mt40">

				<div class="container">

					<div class="row">
						<div class="span12 text-center mb40">
							<h1>Keep in touch</h1>
							<h2 class="subTitle">We would love to hear from you</h2>
						</div>


						<div class="col-md-8 col-md-offset-2 boxFocus pt30 mb30">
							
							<div class="row">

								<div class="col-md-5 col-md-offset-1" > 
									<section class="boxFocus color2">
										<h3>Little NEKO</h3>
										<address>
											<p>
												<i class="icon-location"></i>&nbsp;2001 Space Odyseey<br>
												Houston, Texas - USA <br>
												<i class="icon-phone"></i>&nbsp;256.478.3252 <br>
												<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a>
											</p>
										</address>
									</section>
								</div>


								<div class="col-md-5" > 
									<form method="post" action="http://hideo-html5-css3-bootstrap-website-template.little-neko.com/files/js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form" class="mb15 pb40">

										<div class="form-group">
											<label for="name">Name</label>
											<input type="text" class="form-control" name="name" id="name" placeholder="Enter name"  title="Please enter your name (at least 2 characters)"/>
										</div>
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address"/>
										</div>

										<div class="form-group">
											<label for="comments">Comments</label>
											<textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
										</div>


										<div class="result"></div>
										<button name="submit" type="submit" class="btn btn-lg btn-primary" id="submit">Submit</button>


									</form>
								</div>

							</div>

						</div>
						
					</div>
				</div>

			</section>

			<!-- contact -->

			<!-- call to action -->

			<section id="shareProject" class="pt40 pb40 color2">

				<div class="container">

					<div class="row"> 

						<div class="col-md-12 mb30 text-center"  data-nekoanim="fadeInUp" >
							<h1>Hideo is the template you need for your next project</h1>
							<p>
								Spread the word :)
							</p>
						</div>

						<div class="col-md-12 text-center">
							<div id="sharemeBtn"></div>
						</div>


					</div>

				</div>

			</section>

			<!-- call to action -->
		</section>


		<!-- content -->
